table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
	background-color: #f1f1f1;
}

#copyAllButton {
	width: 100%;
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px solid #dddddd;
	color: black;
	border: none;
	cursor: pointer;
}

@keyframes copiedEffect {
    0% {
        background-color: #f1f1f1;
    }
    50% {
        background-color: #aaaaaa; /* Yellow color for the copied effect */
    }
    100% {
        background-color: #f1f1f1;
    }
}

.clicked {
	animation: copiedEffect .5s ease-in-out;
}

.buttonSelected {
	background-color: #aaaaaa;
}

#browserSelector {
	width: 100%;
	display: flex;
}

#browserSelector > button {
	padding: 10px;
	flex-grow: 1;
	text-align: center;
}

#howToContainer {
	width: fit-content;
	border: 1px solid black;
	/* margin: 0 5px; */
}

/* #output {
	width: fit-content;
} */

#input {
	width: fit-content;
}

#tableInput {
	width: 99%;
	height: 10em;
}

#content {
	display: flex;
}

#input, #output {
    width: 100%; /* Set the width to 100% of the parent container */
    max-width: 800px; /* Optional: Set a maximum width */
    margin: 0 auto; /* Center the divs horizontally */
}